
<ion-header>
  
    <ion-navbar color="navyb">
      <ion-title>Change Password</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding style="background-color:#222;">
  
    <div class="loginsec">
      <h3>Change Password</h3>
     
      <form #changeForm="ngForm" (ngSubmit)="changepass(changeForm)" novalidate>
      <div class="form_outer">
        <ion-list no-border>
         <ion-item>
            <ion-input type="password" placeholder="Enter your Old Password" [(ngModel)]="data.password"  name='password' minlength="6" required #password="ngModel"></ion-input>
          </ion-item>
  
       <ion-label class="alert alert-danger" color="danger">
          <div *ngIf="password.errors && (password.dirty || password.touched)">
          <div [hidden]="!password.errors.required" >
           Password is required
          </div>
      </div>
       <div *ngIf="password.errors && (password.dirty || password.touched)" >
         <div [hidden]="!password.errors.minlength" >
            Minimum length 6 character 
          </div>
      </div>
     </ion-label>
  
  
            <ion-item>
            <ion-input type="password" placeholder="Enter your New Password" [(ngModel)]="data.newpassword" name='newpassword' minlength="6" required #newpassword="ngModel" ></ion-input>
          </ion-item>
          <ion-label class="alert alert-danger" color="danger">
      <div *ngIf="newpassword.errors && (newpassword.dirty || newpassword.touched)">
         <div [hidden]="!newpassword.errors.required" >
           Password is required
          </div>
      </div>
      <div *ngIf="newpassword.errors && (newpassword.dirty || newpassword.touched)" >
         <div [hidden]="!newpassword.errors.minlength" >
            Minimum length 6 character 
          </div>
      </div>
      </ion-label>
  
        
          <ion-item>
            <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="data.conpassword" name='conpassword' minlength="6" required #conpassword="ngModel"></ion-input>
          </ion-item>
   <ion-label class="alert alert-danger" color="danger">
   <div *ngIf="conpassword.errors && (conpassword.dirty || conpassword.touched)">
         <div [hidden]="!conpassword.errors.required" >
           Password is required
          </div>
      </div>
       <div *ngIf="conpassword.errors && (conpassword.dirty || conpassword.touched)" >
         <div [hidden]="!conpassword.errors.minlength" >
            Minimum length 6 character 
          </div>
      </div>
     </ion-label>
         <button class="radius margin_top" type="submit" [disabled]="!changeForm.form.valid" ion-button full color="navyb">SUBMIT</button>
        
        </ion-list>
      </div>
      </form>
    </div>
  
    <marquee direction = "right"><img width="120px" src="assets/img/cars.gif"></marquee>
  
  </ion-content>
  