page-Changepassword {

.loginsec{
    padding: 5vh 0 0 0;
    }
.loginsec h3{
    color: #ccc; 
    text-align: center;
    font-size: 25px;
    }
.loginsec h5{
    color: #ccc; 
    text-align: center;
    font-size: 14px;
    }
.form_outer .item{
    padding-left: 0;
    margin-bottom: 10px;
    background: none;
}
.form_outer .item:first-child{
    border-top: none;
}
.form_outer{
    padding-top: 8vh;
}
marquee {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
.create{
    color: #ccc;
}
.create span{
    color: #ccc;
    font-weight: 500;
}
.text-input-ios {
    margin: 11px 8px 11px 0;
    padding: 0;
    width: calc(100% - 8px);
    color: #ccc;
}
.button-ios-navyb {
    color: #222;
    background-color: #f2f2f2;
}

}
