page-signin {

.loginsec{
    padding: 15vh 0 0 0;
    }
.loginsec h3{
    color: #fff; 
    text-align: center;
    font-size: 25px;
    }
.loginsec h5{
    color: #fff; 
    text-align: center;
    font-size: 14px;
    }
.form_outer .item{
    padding-left: 0;
    margin-bottom: 10px;
    background: none;
}
.form_outer .item:first-child{
    border-top: none;
}
.form_outer{
    padding-top: 8vh;
}
marquee {
    width: 100%;
    left: 0;
    float: left;
}
.create{
    color: #fff;
    text-align:center;
}
.create span{
    color: #fff;
    font-weight: 500;
}
   .create{
       color:#c8c7cc;
   }
   
    radius margin_top {
        color:#fff;
    
    }
    
input.text-input.text-input-ios{
    color: #fff;
}
.span.button-inner{
    color: #fff;

}
.page-signin button-inner {
    color: #fff;
}

 }

