<ion-header>
  <ion-navbar color="navyb">
    <ion-title>
      Messages
    </ion-title>
    <ion-buttons end class="rbutton" (click)="presentActionSheet()" *ngIf="message">
        <button ion-button clear><ion-icon name="more"></ion-icon></button>  
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <div class="massages">
  <ion-list *ngFor="let mesgg of message">
    <ion-item text-wrap>
      <h2>{{mesgg.Promotion.title}}</h2>
      <p>{{mesgg.Promotion.short_msg}}</p>
      <p>{{mesgg.Promotion.detail_msg}}</p>
      <ion-note item-end="" class="note note-ios notetime">3:43 pm</ion-note>
    </ion-item>
   
  </ion-list>
  </div>
</ion-content>
