page-welcome {
    .logocenter {
        margin-top: 12vh;
        text-align: center;
    }
    .toolbar-background{
        background: none !important;
        border-color: none !important;
    }
    
}
